In [176]:
# imports
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

# 1R and K-NN

PCS3438 class exercises

## Exercise 1:

![exercise 1](../assets/exercises/1R_K-NN_1.jpeg)

In [177]:
# data initialize

data_raw = [
    [0,250,36,"A"],
    [10,150,34,"B"],
    [2,90,10,"A"],
    [6,78,8,"B"],
    [4,20,1,"A"],
    [1,170,70,"B"],
    [8,160,41,"A"],
    [10,180,38,"B"],
    [6,200,45,"X"]
    ]
column = ["a1","a2","a3","Classe"]
data = np.array(data_raw)
data_list_df = pd.DataFrame(data,columns=column)
data_list_df

   a1   a2  a3 Classe
0   0  250  36      A
1  10  150  34      B
2   2   90  10      A
3   6   78   8      B
4   4   20   1      A
5   1  170  70      B
6   8  160  41      A
7  10  180  38      B
8   6  200  45      X

## a)
A função a ser empregada é a distancia

In [178]:
# b)

def get_d(a1,a2,a3,y1,y2,y3):
    delta1 = np.abs(a1-y1)
    delta2 = np.abs(a2-y2)
    delta3 = np.abs(a3-y3)
    d = np.sqrt((delta1**2)+(delta2**2)+(delta3**2))
    return d

column_b = ["index","d","classe"]
data_num = 9
pesos = []
for obj_i in range(0,len(data)):
    if(obj_i == (data_num-1)):
        continue
    a1 = data_raw[data_num-1][0]
    a2 = data_raw[data_num-1][1]
    a3 = data_raw[data_num-1][2]
    y1 = data_raw[obj_i][0]
    y2 = data_raw[obj_i][1]
    y3 = data_raw[obj_i][2]
    d = get_d(a1,a2,a3,y1,y2,y3)
    peso = [obj_i,d,data[obj_i][3]]
    pesos.append(peso)
    
pesos_list_df = pd.DataFrame(np.array(pesos),columns=column_b)
pesos_list_df['d'] = pd.to_numeric(pesos_list_df['d'])
pesos_list_df_sorted = pesos_list_df.sort_values(by=['d'], ascending=True)

class_list_df = pd.DataFrame(np.array([[0,0],[0,0]]),columns=["A","B"]).drop(1)
class_list_df_knn = pd.DataFrame(np.array([[0,0],[0,0]]),columns=["A","B"]).drop(1)

for index in range(0,len(pesos_list_df_sorted.index)):
    letter = pesos_list_df_sorted.iloc[index,2] 
    class_list_df[letter][0] += (1/(pesos_list_df_sorted.iloc[index,1]))
    class_list_df_knn = class_list_df_knn.append(class_list_df)
    
class_list_df_knn = class_list_df_knn.reset_index(drop=True).reset_index(names="K-NN")
class_list_df_knn

/tmp/ipykernel_3855/2931083947.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/2931083947.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/2931083947.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/2931083947.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/2931083947.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/2931083947.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/2931083947.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)

   K-NN         A         B
0     0  0.000000  0.000000
1     1  0.000000  0.046374
2     2  0.000000  0.071774
3     3  0.024845  0.071774
4     4  0.044393  0.071774
5     5  0.044393  0.091247
6     6  0.053051  0.091247
7     7  0.053051  0.099091
8     8  0.058447  0.099091

## b)
Foi visto na conta acima que para todas as 5 primeiras K-NN o algoritmo deu que o resultado era a classe B

## c)

## d)
Poderiamos fazer um algorimto que normaliza todos os parametros antes de colocarmos eles dentro da conta de distancia

## Exercise 2

![exercise 2](../assets/exercises/1R_K-NN_2.jpeg)

In [200]:
column = ["a1","a2","a3","Y"]
data_raw = [
    [0,250,36,10],
    [10,150,34,15],
    [2,90,10,5],
    [6,78,8,20],
    [4,20,1,30],
    [1,170,70,40],
    [8,160,41,25],
    [10,180,38,35],
    [6,200,45,-1]
    ]
data = np.array(data_raw)
data_lis_df = pd.DataFrame(data,columns=column)

column_b = ["index","d","Y"]
data_num = 9
pesos = []
for obj_i in range(0,len(data)):
    if(obj_i == (data_num-1)):
        continue
    a1 = data_raw[data_num-1][0]
    a2 = data_raw[data_num-1][1]
    a3 = data_raw[data_num-1][2]
    y1 = data_raw[obj_i][0]
    y2 = data_raw[obj_i][1]
    y3 = data_raw[obj_i][2]
    d = get_d(a1,a2,a3,y1,y2,y3)
    peso = [obj_i,d,data[obj_i][3]]
    pesos.append(peso)
    
pesos_list_df = pd.DataFrame(np.array(pesos),columns=column_b)
pesos_list_df['d'] = pd.to_numeric(pesos_list_df['d'])
pesos_list_df_sorted = pesos_list_df.sort_values(by=['d'], ascending=True)

class_list_df = pd.DataFrame(np.array([[0]]),columns=["Y"])
class_list_df_knn = pd.DataFrame(np.array([[0]]),columns=["Y"])

old_value = 0
for index in range(0,len(pesos_list_df_sorted.index)):
    y_value = pesos_list_df_sorted.iloc[index][2]
    class_list_df["Y"] = old_value = (y_value + old_value)
    class_list_df["Y"] = class_list_df["Y"]/(index+1)
    class_list_df_knn = class_list_df_knn.append(class_list_df)
    
class_list_df_knn = class_list_df_knn.reset_index(drop=True).reset_index(names="K-NN")
class_list_df_knn

/tmp/ipykernel_3855/1889714076.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/1889714076.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/1889714076.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/1889714076.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/1889714076.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/1889714076.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)
/tmp/ipykernel_3855/1889714076.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class_list_df_knn = class_list_df_knn.append(class_list_df)

   K-NN          Y
0     0   0.000000
1     1  35.000000
2     2  37.500000
3     3  33.333333
4     4  27.500000
5     5  25.000000
6     6  21.666667
7     7  21.428571
8     8  22.500000